.body{
    background: no-repeat center top fixed;
    background-color: #5e666d;
    background-image:url(/stylesheets/resources/bg-4.jpg);
    background-position: center;
    background-size:cover;
}

#protocolText{
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#protocolOutline{
    margin: 5%;
    border:none;
    border-radius: 2pt;
    box-shadow: 0 0 1pt #6d757d;
    outline:none;
}

#copyIcon{
    position:absolute;
    margin-top:5%;
    margin-left: 16%; 
    opacity: .75;
    height: 25px;
    width: 25px;
}

#boxColor, #boxColor2 {
    background-color: #1e1e1e;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 45px;
}

#sendBtn{
    margin: 5%;
    margin-bottom: 0%;
    width: 50%; 
    background-color:#0F9D58 ;
    border: none;
}

#btnOK{
    width: 25%;
    height: 5%;
}

.boxTitleDiv{
    display: inline-block;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    border: none;
    margin-top: 2%;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #DB4437;
    border-radius: 50%;
    display: inline-block;
}

.cardBody{
    margin:5%;
    height: fit-content;
    display:initial;
}

#question{
    opacity: 0;
    animation: fadeIn 1.0s;
    animation-fill-mode: forwards;
    overflow: hidden;
    display: none;
}

#info{
    margin-top: 5%;
    opacity: 0;
    animation: fadeIn 1.0s;
    animation-fill-mode: forwards;
}

/*#region Animations */

@keyframes fadeIn {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes getBigger {

    0%{
        max-height: 590px;
    }
    100%{
        max-height: 700px;
    }
    
}

@keyframes boxAppear{

    0% { transform: scale(.001);}
    50% { transform: scale(.002);}
    100% { transform: scale(1);}
    
}

@keyframes boxDisappear {
    0% { transform: scale(1);}
    50% { transform: scale(.002);}
    100% { transform: scale(.001);}
}

/*#endregion */

#spinner{
    display: block;
}

#cardSucesso{
    animation: boxAppear 1s;
    animation-fill-mode: forwards;
    animation-play-state: running, paused;
}

#card{
    max-height:900px; 
    height:fit-content;
    width: 100%; 
    border: none;
    animation: boxAppear 1s;
    animation-fill-mode: forwards;
    animation-play-state: running, paused;
}

/* Tirar as setas do input do RA */
/* #region RA input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; 
}

/*#endregion */

#divTitulo{
    width: 77%;
}

#Exercicios, #Lista{
    width: 100%;
}

@media(max-width:1700px){
    #divTitulo{
        width: 100%;
    }
}

@media(max-width:500px) {
    #copyIcon{
        margin-left:30%;
    }

    #successCadastro{
        margin-top: 5%;
    }

    #btnOK{
        height: 10%;
    }
}

/* #region cardResponsivity */
@media (max-width:900px){

    .fileCard{
        margin-left: auto;
        margin-right: auto;
        width: 100vw; 
    }

}

@media (min-width:900px) and (max-width: 1300px){


    .fileCard{
        margin-top: 0.5%;
        margin-left: auto;
        margin-right: auto;
        width: 65vw; 
    }
    
}

@media (min-width:1300px){

    .fileCard{
        margin-top: 0.5%;
        margin-left: auto;
        margin-right: auto;
        width: 40vw; 
    }

}

/*#endregion */

