<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/form.css">
        <title>Nova dúvida</title>
        <link rel="icon" href="stylesheets/resources/coffee.png">

    </head>

    <body class="body"> 

      <div id="navBar"></div>

      <div class ="fileCard">
        <div id="cardSucesso" class="card" style="border: none;display: none;">
          <div class="card-header" style="width: 100%; height: auto; position: relative;margin-bottom: 3.5%;">
            <div id="boxColor" class="card-header">
                          
              <span class="dot" style=" background-color: #DB4437;"></span> 
              <span class="dot" style="background-color: #F4B400;"></span> 
              <span class="dot" style="background-color: #0F9D58;"></span> 
              
          </div>

          <div class="boxTitleDiv">
            <label id="protocoloText" class="boxTitle" style=" color: white;">Protocolo</label>
          </div>
          </div>

          <div class="card-body" style="text-align: center;">
            <h5 id="successCadastro" >Questão Cadastrada com sucesso!</h5>

            <label for="successCadastro" style="color:#6d757d;display: block;">
              Um monitor entrará em contato assim que possível, guarde o protocolo abaixo.
            </label>

            <div style="position: relative;">
              <div id="protocolOutline">
                <img id="copyIcon" src="stylesheets/resources/copy.png" onclick="copyProtocol()">
                <h3 id="protocolText">IP-XXX-1213</h3>
              </div>

              <div class="form-group" style="opacity: 0;width: 0px;height: 0px;">
                <textarea readonly id="copyTxtArea" class="form-control" id="duvida" rows="1" style="resize: none;text-align: center;font-size: 30; display: block;" aria-describedby="duvidaHelp"> bobobo</textarea>
              </div>


              <button id="btnOK" type="submit" class="btn btn-primary" onclick="window.location = '/';">
              OK
              </button>
            </div>
          </div> 
        </div>
      </div>
        
      <div class ="fileCard" id="fileCard">
        <div id="card" class="card" style="border: none;">

          <div class="card-header" style="width: 100%; height: 100%; position: relative;">
            <div id="boxColor2" class="card-header">
                <span class="dot" style=" background-color: #DB4437;"></span> 
                <span class="dot" style="background-color: #F4B400;"></span> 
                <span class="dot" style="background-color: #0F9D58;"></span> 
            </div>
      
            <div class="boxTitleDiv">
              <label id="novaPergunta" class="boxTitle" style=" color: white;">Nova pergunta</label>
            </div>
          </div>

          <div class="card-body" style="margin:5%; margin-bottom: 2.5%;">

            <div id="question" class="navigator">
              <div class="form-group" style="margin: 1%;">
                <h5 class="card-title">Dúvida</h5>
                <br>
                <div class="row g-3">
                  <!-- Título -->
                  <div class="col-sm-9" id="divTitulo">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" placeholder="" aria-describedby="tituloHelp">
                    <small id="tituloHelp" class="form-text text-muted" >
                      Tente explicar a dúvida de maneira breve
                    </small>
                  </div>

                  <!-- Lista-->
                  <div class="col-sm-2" style="width: fit-content;">
                    <label id="listaLabel"  for="Lista" style="text-align: center;">Lista</label>
                    <select id="Lista" class="form-control" style="text-align-last: center ;">
                    </select>
                  </div>

                  <!--Exericicios-->
                    <div class="col-sm-2"  style="width: fit-content;">
                      <label for="Exercicios" style="text-align: center">Exercício</label>
                      <select id="Exercicios" class="form-control" style=" text-align-last: center;">
                      </select>
                    </div>

                </div>

                <br>

                <div class="form-group">

                  <label for="duvida">Dúvida</label>
                  <textarea class="form-control" id="duvida" rows="10" style="resize: none;" placeholder="Qual é o problema?" aria-describedby="duvidaHelp"></textarea>
                  <small id="duvidaHelp" class="form-text text-muted" >
                      Tente informar o máximo de detalhes possíveis, assim podemos ter uma boa ideia da situação. Não envie o código inteiro neste campo, o mesmo será analisado posteriormente.
                  </small>  

                  <div style="float: left;" class="invalid-feedback">
                    Preencha os campos em vermelho.
                  </div>
                </div>

              </div>

              <div class="row justify-content-center">
                <div class="g-recaptcha" data-sitekey="6Lc3ta8bAAAAAKZcBEauY1pGrRQkF1FbEsXitMyz"></div>
                <button id="sendBtn" type="submit" class="btn btn-primary" onclick="submitForm()">
                  Enviar Questão
                </button>
              </div>

            </div>  
              
            <div id="info" style="display: block;" class="navigator">
            <div class="form-group" style="margin: 0%;">
              <h5 class="card-title">Informações</h5>
                
              <!-- Nome -->
              <label for="nome" style="margin-top: 2%">Nome</label>
              <input type="text" class="form-control" id="nome" placeholder="" style="margin-top: 1%;" maxlength="40">
              <br>

              <!-- RA -->
              <div class="form-group col-md-4">
                <label for="RA">RA</label>
                <input id="RA" type="number" class="form-control" aria-describedby="raHelp"style="margin-top: 1%;" maxlength="6"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">            
              </div>
              <small id="raHelp" class="form-text text-muted" >
                  Precisamos do seu RA para acessar os seus exercícios já enviados e analizá-los caso seja necessário.
              </small>
    
              <br>
              <br>
    
              <!-- CONTATO -->
              <label for="contato" style="margin-top: 2%">Contato</label>
              <input type="text" class="form-control" id="contato" placeholder="Telefone ou Email" aria-describedby="contatoHelp"style="margin-top: 1%;" maxlength="40">
              <small id="contatoHelp" class="form-text text-muted" >
                  Caso seja necessário, entraremos em contato com você pelo meio informado.
              </small>
    
              <div style="float: left;" class="invalid-feedback">
                Preencha os campos em vermelho.
              </div>
    
            </div>
                  
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary" style="margin: 5%;margin-bottom: 0%; width: 50%;" onclick="loadNextPage()">
                    Próximo
                </button>
            </div>
            </div>

          </div>
        </div> 
      </div>

        <script>if ( window.history.replaceState ){ window.history.replaceState( null, null, window.location.href ); } </script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/scripts/form.js"></script>

        <script>
          $(function(){
            $("#navBar").load("navBar.html");
          });
        </script>
    </body>

</html>