<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/style.css">

    </head>

    <body style="background-color: #ff9248;">   

         <form method="post" action="/post">
            <input id="RA" type="number" name="RA" placeholder="111111">
            <input id="nome" type="text" name="nome" placeholder="Carlos">
            <input id="contato" type="text" placeholder="Telefone ou Email">

            <select id="Lista">
            </select>
            <select id="Exercicios">
            </select>
            <textarea name="duvida" rows="5" cols="40"></textarea>
            <input type="submit" name="submit" value="Submit"><br><br>
        </form>
        <script>if ( window.history.replaceState ){ window.history.replaceState( null, null, window.location.href ); } </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src = "/socket.io/socket.io.js"></script>
        <script src="/scripts/form.js"></script>
    </body>

</html>