<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/style.css">

    </head>

    <body style="background-color: #ffff;">   

        <h1> Protocolo:</h1>
        <h2 id="protocolo"></h2>


        <script>if ( window.history.replaceState ){ window.history.replaceState( null, null, window.location.href ); } </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src = "/socket.io/socket.io.js"></script>
        <script src="/scripts/success.js"></script>
    </body>

</html>